# Data source: https://pubchem.ncbi.nlm.nih.gov/bioassay/449704

In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('initials_from_PUBCHEM.xlsx', header=None)

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,1,103163899,2807642.0,Active,NaN,NaN,NaN,0.54000,EC50,=,540.00,nM
1,2,103164645,3239884.0,Unspecified,NaN,NaN,NaN,1.25000,EC50,>,1250.00,nM
2,3,103164647,98652.0,Active,NaN,NaN,NaN,1.70900,EC50,=,1709.00,nM
3,4,103164913,198062.0,Unspecified,NaN,NaN,NaN,1.25000,EC50,>,1250.00,nM
4,5,103165594,4993.0,Active,NaN,NaN,NaN,0.01456,EC50,=,14.56,nM

In [4]:
rename = {1: 'PUBCHEM_SID', 2: 'PUBCHEM_CID', 3:'PUBCHEM_ACTIVITY_OUTCOME', 7:'PubChem Standard Value', 8:'Standard Type',
         9: 'Standard Relation', 10: 'Standard Value', 11: 'Standard Units'}

In [5]:
data = data.rename(columns=rename)
data.head()

,0,PUBCHEM_SID,PUBCHEM_CID,PUBCHEM_ACTIVITY_OUTCOME,4,5,6,PubChem Standard Value,Standard Type,Standard Relation,Standard Value,Standard Units
0,1,103163899,2807642.0,Active,NaN,NaN,NaN,0.54000,EC50,=,540.00,nM
1,2,103164645,3239884.0,Unspecified,NaN,NaN,NaN,1.25000,EC50,>,1250.00,nM
2,3,103164647,98652.0,Active,NaN,NaN,NaN,1.70900,EC50,=,1709.00,nM
3,4,103164913,198062.0,Unspecified,NaN,NaN,NaN,1.25000,EC50,>,1250.00,nM
4,5,103165594,4993.0,Active,NaN,NaN,NaN,0.01456,EC50,=,14.56,nM

In [6]:
data['PUBCHEM_ACTIVITY_OUTCOME'].unique()

array(['Active', 'Unspecified', 'Inconclusive'], dtype=object)

In [7]:
data['Standard Units'].unique()

array(['nM', nan], dtype=object)

In [8]:
check_nan = data[data['Standard Units'] != 'nM']

In [9]:
check_nan.shape #to be removed

(13, 12)

In [10]:
to_be_used = data[data['Standard Units'] == 'nM']

In [11]:
to_be_used.shape

(5684, 12)

In [12]:
to_be_used = to_be_used.reset_index()

In [13]:
to_be_used.head()

,index,0,PUBCHEM_SID,PUBCHEM_CID,PUBCHEM_ACTIVITY_OUTCOME,4,5,6,PubChem Standard Value,Standard Type,Standard Relation,Standard Value,Standard Units
0,0,1,103163899,2807642.0,Active,NaN,NaN,NaN,0.54000,EC50,=,540.00,nM
1,1,2,103164645,3239884.0,Unspecified,NaN,NaN,NaN,1.25000,EC50,>,1250.00,nM
2,2,3,103164647,98652.0,Active,NaN,NaN,NaN,1.70900,EC50,=,1709.00,nM
3,3,4,103164913,198062.0,Unspecified,NaN,NaN,NaN,1.25000,EC50,>,1250.00,nM
4,4,5,103165594,4993.0,Active,NaN,NaN,NaN,0.01456,EC50,=,14.56,nM

In [14]:
to_be_used = to_be_used.drop(columns=['index'])

In [15]:
to_be_used.iloc[4045]

0                                  4058
PUBCHEM_SID                   103713097
PUBCHEM_CID                 2.85869e+06
PUBCHEM_ACTIVITY_OUTCOME         Active
4                                   NaN
5                                   NaN
6                                   NaN
PubChem Standard Value           0.1899
Standard Type                      EC50
Standard Relation                     =
Standard Value                    189.9
Standard Units                       nM
Name: 4045, dtype: object

In [16]:
import pubchempy as pcp
compounds_l = []
for x in range(len(to_be_used)):
    try:
        if to_be_used['PUBCHEM_CID'][x] > 1:
            
            compound = pcp.Compound.from_cid(int(to_be_used['PUBCHEM_CID'][x]))
            compounds_l.append(compound)
        else:
            compound = pcp.Substance.from_sid(int(to_be_used['PUBCHEM_SID'][x]))
            compound = compound.standardized_compound
            compounds_l.append(compound)
    except:
        print("Not found CID: "+str(to_be_used['PUBCHEM_CID'][x])) #CID
        print("Not found SID: "+str(to_be_used['PUBCHEM_SID'][x])) #CID
compounds_l[0:5]

Not found CID: nan
Not found SID: 103709517
Not found CID: nan
Not found SID: 103711967
Not found CID: nan
Not found SID: 103714144

[Compound(2807642),
 Compound(3239884),
 Compound(98652),
 Compound(198062),
 Compound(4993)]

In [17]:
### maybe this lines can be inserted above (so we can know where we actually are)
#print(to_be_used['PUBCHEM_CID'][x])
#print(to_be_used['PUBCHEM_SID'][x])

## The structures with SID 103709517, 103711967 and 103714144 are not available

In [18]:
len(compounds_l)

5681

In [19]:
to_be_used = to_be_used[to_be_used['PUBCHEM_SID'] != 103709517]
to_be_used = to_be_used[to_be_used['PUBCHEM_SID'] != 103711967]
to_be_used = to_be_used[to_be_used['PUBCHEM_SID'] != 103714144]

In [20]:
len(to_be_used)

5681

In [28]:
to_be_used

,0,PUBCHEM_SID,PUBCHEM_CID,PUBCHEM_ACTIVITY_OUTCOME,4,5,6,PubChem Standard Value,Standard Type,Standard Relation,Standard Value,Standard Units,CID
0,1,103163899,2807642.0,Active,NaN,NaN,NaN,0.54000,EC50,=,540.00,nM,2807642
1,2,103164645,3239884.0,Unspecified,NaN,NaN,NaN,1.25000,EC50,>,1250.00,nM,3239884
2,3,103164647,98652.0,Active,NaN,NaN,NaN,1.70900,EC50,=,1709.00,nM,98652
3,4,103164913,198062.0,Unspecified,NaN,NaN,NaN,1.25000,EC50,>,1250.00,nM,198062
4,5,103165594,4993.0,Active,NaN,NaN,NaN,0.01456,EC50,=,14.56,nM,4993
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5679,5693,242584336,135843364.0,Active,NaN,NaN,NaN,0.75200,EC50,=,752.00,nM,242584336
5680,5694,242584337,45488392.0,Unspecified,NaN,NaN,NaN,1.25000,EC50,>,1250.00,nM,242584337
5681,5695,242611572,80467.0,Active,NaN,NaN,NaN,0.05950,EC50,=,59.50,nM,242611572
5682,5696,242611800,12302978.0,Active,NaN,NaN,NaN,0.41800,EC50,=,418.00,nM,242611800
5683,5697,404719310,3090732.0,Active,NaN,NaN,NaN,0.39400,EC50,=,394.00,nM,404719310

In [29]:
isomeric_smiles = []
for compound in compounds_l:
    try:
        
        isomeric_smiles.append(compound.isomeric_smiles)
    except:
        isomeric_smiles.append('ERROR')
isomeric_smiles[0:5]

['CCC1=CC2=C(S1)N=CN=C2SC3=NN=C(S3)N',
 'CCOC(=O)C1=CC(=CC=C1)N2C(=NC(=NC2(C)C)N)N',
 'C1=CC=C2C=C(C=CC2=C1)S(=O)(=O)C3=CC4=C(C=C3)N=C(N=C4N)N',
 'CC1=C2C(=CC=C1)N=C(N=C2N)N',
 'CCC1=C(C(=NC(=N1)N)N)C2=CC=C(C=C2)Cl']

In [30]:
len(isomeric_smiles)

5681

In [33]:
to_be_used['CID'] = to_be_used['PUBCHEM_SID']
for x, string in enumerate(compounds_l):
    newstring = ''.join((char if char in '0123456789.-e' else ' ') for char in str(string))
    Number = [int(i) for i in newstring.split()]
    num = Number[0]
    if int(num) > 1:
        
        res = int(num)
        to_be_used['CID'][x] = res
    else:
        pass

<ipython-input-33-8a02a6a13ac6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  to_be_used['CID'][x] = res

In [34]:
len(to_be_used['CID'])

5684

In [35]:
len(to_be_used['CID'].unique())

5598

In [39]:
to_be_used['CID']

0         2807642
1         3239884
2           98652
3          198062
4            4993
          ...
5682    242611800
5683    404719310
516        827981
2934      3636648
5093       692374
Name: CID, Length: 5684, dtype: int64

In [40]:
to_be_used['PUBCHEM_SID']

0       103163899
1       103164645
2       103164647
3       103164913
4       103165594
          ...
5679    242584336
5680    242584337
5681    242611572
5682    242611800
5683    404719310
Name: PUBCHEM_SID, Length: 5681, dtype: int64

In [42]:
to_be_used['CID'] = to_be_used['CID'][:-3] ## some error

In [43]:
final_df = pd.DataFrame(to_be_used['CID'], columns=['CID'])
final_df['SMILES'] = isomeric_smiles
final_df['target'] = to_be_used['Standard Value']

In [44]:
final_df.head()

       CID                                             SMILES   target
0  2807642                 CCC1=CC2=C(S1)N=CN=C2SC3=NN=C(S3)N   540.00
1  3239884          CCOC(=O)C1=CC(=CC=C1)N2C(=NC(=NC2(C)C)N)N  1250.00
2    98652  C1=CC=C2C=C(C=CC2=C1)S(=O)(=O)C3=CC4=C(C=C3)N=...  1709.00
3   198062                         CC1=C2C(=CC=C1)N=C(N=C2N)N  1250.00
4     4993               CCC1=C(C(=NC(=N1)N)N)C2=CC=C(C=C2)Cl    14.56

In [45]:
final_df

            CID                                             SMILES   target
0       2807642                 CCC1=CC2=C(S1)N=CN=C2SC3=NN=C(S3)N   540.00
1       3239884          CCOC(=O)C1=CC(=CC=C1)N2C(=NC(=NC2(C)C)N)N  1250.00
2         98652  C1=CC=C2C=C(C=CC2=C1)S(=O)(=O)C3=CC4=C(C=C3)N=...  1709.00
3        198062                         CC1=C2C(=CC=C1)N=C(N=C2N)N  1250.00
4          4993               CCC1=C(C(=NC(=N1)N)N)C2=CC=C(C=C2)Cl    14.56
...         ...                                                ...      ...
5679   12302978   CC1=CC(=O)N(N1)C2=NC(=NC3=CC=CC=C32)C4=CC=CC=C4O   752.00
5680    3090732  CC1=C(C(=O)N(N1)C2=CC=CC=C2)C(=O)CN(C(C)C)C(=O...  1250.00
5681  242611572  C1=CC(=CC=C1C(=N)N)OCCCOC2=CC=C(C=C2)C(=N)N.Cl.Cl    59.50
5682  242611800           CC(CCCNC1=C2C(=CC(=C1)OC)C=CC=N2)N.Cl.Cl   418.00
5683  404719310  C1C(CC(OC1C2=CC=CC=C2)C3=CC=CC=C3)C4CC(OC(C4)C...   394.00

[5681 rows x 3 columns]

In [46]:
final_df.to_csv('data_no_agg.csv')

In [47]:
df_add = pd.DataFrame(compounds_l, columns=['COMPOUND'])

In [48]:
df_add.to_csv('found_data.csv')

# AGG

In [1]:
import pandas as pd
import numpy as np
data_ = pd.read_csv('data_no_agg.csv')
data_.head()

,Unnamed: 0,CID,SMILES,target
0,0,2807642,CCC1=CC2=C(S1)N=CN=C2SC3=NN=C(S3)N,540.00
1,1,3239884,CCOC(=O)C1=CC(=CC=C1)N2C(=NC(=NC2(C)C)N)N,1250.00
2,2,98652,C1=CC=C2C=C(C=CC2=C1)S(=O)(=O)C3=CC4=C(C=C3)N=...,1709.00
3,3,198062,CC1=C2C(=CC=C1)N=C(N=C2N)N,1250.00
4,4,4993,CCC1=C(C(=NC(=N1)N)N)C2=CC=C(C=C2)Cl,14.56

In [2]:
data_['SMILES'].describe()

count                                           5681
unique                                          5595
top       CC[N+]1=CC=CC=C1C=CC2=CC=C(C=C2)N(C)C.[I-]
freq                                               3
Name: SMILES, dtype: object

In [3]:
data_grouped = data_.groupby('SMILES')

In [4]:
## Helping functions
def get_levels(x):
    y = x.dropna()
    if y.empty:
        return np.nan
    else:
        levs = list(set(y.tolist()))
        if len(levs) == 1:
            return levs[0]
        else:
            return 'mix'

def get_all_levels(x):
    y = x.dropna()
    if y.empty:
        return np.nan
    else:
        return sorted(list(set(y.tolist())))
                
def get_mean(x):
    y = x.dropna()
    if y.empty:
        return np.nan
    else:
        return np.mean(y)
    
def expand_activity(x):
    expanded = [None for iii in range(max_level_activity)]
    n_act = len(x)
    expanded[:n_act] = x[:n_act]
    return np.array(expanded)

In [5]:
aggFunctions = {
    'target': ['min', 'max', get_all_levels, get_mean],
    'SMILES': get_levels
}
data_aggregated = data_grouped.agg(aggFunctions)
max_level_activity = max(data_aggregated[("target", "get_all_levels")].apply(lambda x: len(x)))
data_aggregated.columns = [str(item[0])+"_"+str(item[1]) for item in data_aggregated.columns.to_flat_index().to_list()]
all_activities = data_aggregated[("target_get_all_levels")].apply(lambda x: expand_activity(x))
all_activities = pd.DataFrame(all_activities.to_list(), columns=["target_"+str(iii) for iii in range(max_level_activity)])
all_activities = all_activities.set_index(data_aggregated.index)
data_aggregated = pd.concat([data_aggregated, all_activities], axis=1)
data_aggregated

,target_min,target_max,target_get_all_levels,target_get_mean,SMILES_get_levels,target_0,target_1,target_2
SMILES,,,,,,,,
C#CCN1C2=CC=CC=C2SC3=C1N=CC=C3,321.00,321.00,[321.0],321.00,C#CCN1C2=CC=CC=C2SC3=C1N=CC=C3,321.00,NaN,NaN
C#CCNC(=O)C1=CC(=C(C=C1)OC2CCN(CC2)CC3CCCCC3)Cl,396.00,396.00,[396.0],396.00,C#CCNC(=O)C1=CC(=C(C=C1)OC2CCN(CC2)CC3CCCCC3)Cl,396.00,NaN,NaN
C#CC[N+]1(CCCCC1)CC#CC2=CC=CC3=CC=CC=C32.[Br-],484.00,484.00,[484.0],484.00,C#CC[N+]1(CCCCC1)CC#CC2=CC=CC3=CC=CC=C32.[Br-],484.00,NaN,NaN
C([C@@H](C(=O)O)N)OP(=O)(O)O,1065.00,1065.00,[1065.0],1065.00,C([C@@H](C(=O)O)N)OP(=O)(O)O,1065.00,NaN,NaN
C/C(=C(\C(=O)C)/N=NC1=CC(=CC(=C1)C(F)(F)F)C(F)(F)F)/O,26.73,26.73,[26.73],26.73,C/C(=C(\C(=O)C)/N=NC1=CC(=CC(=C1)C(F)(F)F)C(F)...,26.73,NaN,NaN
...,...,...,...,...,...,...,...,...
C[N+]1=CN(C=C1)C2=CC=C(C=C2)C(=O)C3=CC=C(C=C3)N4C=C[N+](=C4)C.[I-].[I-],29.41,29.41,[29.41],29.41,C[N+]1=CN(C=C1)C2=CC=C(C=C2)C(=O)C3=CC=C(C=C3)...,29.41,NaN,NaN
N1=P(N=P(N=P(N=P1(O)O)(O)O)(O)O)(O)O,1250.00,1250.00,[1250.0],1250.00,N1=P(N=P(N=P(N=P1(O)O)(O)O)(O)O)(O)O,1250.00,NaN,NaN
[B-](C1=CC=CC=C1)(C2=CC=CC=C2)(C3=CC=CC=C3)C4=CC=CC=C4,44.80,44.80,[44.8],44.80,[B-](C1=CC=CC=C1)(C2=CC=CC=C2)(C3=CC=CC=C3)C4=...,44.80,NaN,NaN
[B-](F)(F)(F)F.CCCC[N+]1=C(C=C(C=C1C2=CC=CC=C2)C3=CC=CC=C3)C4=CC=CC=C4,467.00,467.00,[467.0],467.00,[B-](F)(F)(F)F.CCCC[N+]1=C(C=C(C=C1C2=CC=CC=C2...,467.00,NaN,NaN
[B-](F)(F)(F)F.C[N+]1=C(C=C(C=C1C2=CC=CC=C2)C3=CC=CC=C3)C4=CC=CC=C4,590.00,590.00,[590.0],590.00,[B-](F)(F)(F)F.C[N+]1=C(C=C(C=C1C2=CC=CC=C2)C3...,590.00,NaN,NaN

In [6]:
data_aggregated.columns.to_list()

['target_min',
 'target_max',
 'target_get_all_levels',
 'target_get_mean',
 'SMILES_get_levels',
 'target_0',
 'target_1',
 'target_2']

In [7]:
to_be_saved_ = data_aggregated.columns.to_list()[5:]

In [8]:
to_save = data_aggregated[to_be_saved_]

In [9]:
to_save.reset_index()

,SMILES,target_0,target_1,target_2
0,C#CCN1C2=CC=CC=C2SC3=C1N=CC=C3,321.00,NaN,NaN
1,C#CCNC(=O)C1=CC(=C(C=C1)OC2CCN(CC2)CC3CCCCC3)Cl,396.00,NaN,NaN
2,C#CC[N+]1(CCCCC1)CC#CC2=CC=CC3=CC=CC=C32.[Br-],484.00,NaN,NaN
3,C([C@@H](C(=O)O)N)OP(=O)(O)O,1065.00,NaN,NaN
4,C/C(=C(\C(=O)C)/N=NC1=CC(=CC(=C1)C(F)(F)F)C(F)...,26.73,NaN,NaN
...,...,...,...,...
5590,C[N+]1=CN(C=C1)C2=CC=C(C=C2)C(=O)C3=CC=C(C=C3)...,29.41,NaN,NaN
5591,N1=P(N=P(N=P(N=P1(O)O)(O)O)(O)O)(O)O,1250.00,NaN,NaN
5592,[B-](C1=CC=CC=C1)(C2=CC=CC=C2)(C3=CC=CC=C3)C4=...,44.80,NaN,NaN
5593,[B-](F)(F)(F)F.CCCC[N+]1=C(C=C(C=C1C2=CC=CC=C2...,467.00,NaN,NaN
5594,[B-](F)(F)(F)F.C[N+]1=C(C=C(C=C1C2=CC=CC=C2)C3...,590.00,NaN,NaN

In [10]:
to_save.to_csv('data.csv')